@charset "utf-8";
body,div{
	margin:0px;
	padding:0px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.navbar-bg{
	width:100%;
	height:245px;
	/*background-color:#2f69a3;*/
}
.navbar-bg-top{
	width:100%;
	height:43px;
    border-top: 1px solid #5895d5;
    border-bottom: 1px solid #3b92e9;
    background: #459df5;
}
.navbar-content-box{
	width:1139px;
	height:43px;
	margin:0 auto;
}
ul{
	list-style:none;
	float:left;
	padding: 0px;
	margin-top:0px;
	line-height:43px;
}
.index,.category,.user{
	width:104px;
    text-align: center;
}
.index li,.category li,.user li{
	width:104px;
	height:42px;
}
.index>li>a,.category>li>a,.user>li>a{
	display: block;
	width:104px;
	height:43px;
}
.content{
	height:200px;
}
.navbar-main ul a:hover{
	padding-bottom:4px;
	border-bottom:2px solid #fff;
}
.navbar-main>li a{
	color:#a2c9f0;
}
.navbar-main>li a:hover{
	color:#fff;
}
.navbar-main>li:hover{
	background-color: #338ce6;
}
.navbar-main>li:hover ul{
	background-color:#19508b;
}
.special,.cooperation,.mobile{
	width:136px;
	text-align:center;
}
.special>li>a,.cooperation>li>a,.mobile>li>a{
	display:block;
	width:136px;
	height:42px;
}
.cooperation li ul,.mobile li ul{
	width:136px;
}
.category>li>ul{
	width:104px;
}
.category>li>ul li{
	width:50px;
	height:30px;
	float:left;
}
.special ul{
	width:136px;
}
.special ul li,.user ul li,.cooperation ul li{
	height:30px;
}
.usercenter{
	float:right;
	width:155px;
	height:23px;
	margin:10px 0px;
	border-left: 1px solid #3982c8;
    font-size: 16px;
}