@charset "utf-8";
table{
	min-width: 320px; 
	max-width: 640px; 
	margin: 0 auto;  
	padding:0;
}
.table1 td{
	padding:0; 
	margin:0;
}
img{
	width:100%; 
	display:block; 
	float:left;
}
.row1 td.td1{
	width:75%;
}
.row1 td.td2{
	width:25%;
}
.row2 td{
	width:100%;
}