*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
img {
	border:none;
}
a {text-decoration: none;}
html,body{
	width: 100%;
	font-size: 12px;
	font-family: tahoma,arial;
	font-color:#3c3c3c;
}
li,p{
	cursor: pointer;
}
/*#topBar{
	width: 100%;
	height: 3px;
	background: #450507;
	border-bottom: 1px solid #aaaaab;

}*/
#topNav ,.con {
	width: 100%;
	height: 34px;
	background: #f5f5f5;
	border-bottom: 1px solid #eeeeee;
}
/*#topNav{
	position: fixed;
	top: 0px;
	left: 0px
}*/
.con {
	width: 1190px;
	margin:0 auto;
}
.con ul{
	zoom:1;
}
.con ul:after{
	content: "";
	display: block;
	clear: both;
}
.con li{
	float:left;
	padding:0 12px;
	font-size: 13px;
	color:#6c6c6c;
	text-align: center;
	display: block;
	line-height: 34px;
	border:1px solid #f5f5f5;
}
.con li:hover{ 
	border:1px solid #eeeeee;
	color:#ff4400;
	background: #ffffff;
	border-bottom: none;
}
/*.con p{
	display: none;
	border: 1px solid #eeeeee;
	border-top: none;
	position: absolute;
	top:35px;
	left: -1px;
}*/
/*.name .top{
	width: 100%;
	height: 122px;
	background: yellow;
}*/
.con .left{
	width: 268px;
	height: 100%;
	float:left;
}

.con .right{
	width: 600px;
	height: 100%;
	float:right;
}
#search{
	width: 1188px;
	height: 130px;
	margin: 0 auto;

}
#search .leftPic{
	width: 250px;
	height: 128px;
	float: left;
	background: url(../images/icon.png) no-repeat 2px 17px;
	/*margin: 8px 21px 0px 2px;*/
}
#search .searchBar{
	width: 760px;
	height: 130px;
	float: left;
}
.searchBar .sck{
	width: 760px;
	height: 66px;
	padding-top: 30px;
}
.searchBar .sck ul{
	width: 156px;
	height: 25px;
/*	background: #d1d1d1;*/
}
.searchBar .sck ul li{
	line-height: 25px;
	padding: 0 13px;
	color: #3c3c3c;
	font-size: 12px;
	float:left;
}
.searchBar .sck ul li:hover{
	color: #c60000;
	background: #f9e6e6;
}
.searchBar .sck ul .active ,.searchBar .sck ul .active:hover{
	color: #ffffff;
	background: #ff5400;
	font-weight: bold;
}
.searchBar .sct{
	width: 714px;
	height: 34px;
	float: left;
	border:3px solid #ff5500;
}
.searchBar .sck p{
	width: 24px;
	font-size: 10px;
	line-height: 17px;
	height: 24px;
	color: #6c6c6c;
	float: right;
	margin-left: 16px;
}
.searchBar .sck p:hover{
	 color:#ff4400;
}
.searchBar .sct input{
	width: 616px;
	height: 34px;
	text-indent: 6px;
	float: left;
	border: none;
}.searchBar .sct input:focus{
	outline: none;
}
.searchBar .sct li{
	width: 98px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	font-size: 18px;
	font-weight: bold;
	color:#ffffff;
	background: #ff4400;
	float: right;
}
.searchBar .flt{
	width: 760px;
	height: 30px;
}
.searchBar .flt li{
	margin-right: 8px;
	float: left;
	font-size: 12px;
	line-height: 30px;
	color: #6c6c6c;
}
.searchBar .flt .active{
	color:#ff4400;
}
.searchBar .flt li:hover{
	color:#ff4400;
}
.searchBar .flt p{
	float: right;
	margin-right: 40px;
	width: 42px;
	height: 20px;
	border: 1px solid #e8e8e8;
	margin-top: 4px;
	line-height: 20px;
	text-align: center;
}
.searchBar .flt p:hover{
	color: #ffffff;
	background: #ff4400;
}
#search .rightEwm{
	float: right;
	margin-top:16px; 
	width: 94px;
	height: 110px;
	border: 1px solid #e8e8e8;
}
#search .rightEwm li{
	width: 100%;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color:#ff4400;
}
#search .rightEwm div{
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background: url(../images/ewm.png);
}
#topCon{
	width: 1190px;
	margin: 0 auto;
	padding-bottom: 15px;
	zoom:1;
}
#topCon:after{
	content: "";
	display: block;
	clear: both;
}
#topCon .leftSide{
	width: 188px;
	height: 525px;
	float: left;
	border: 1px solid #ff4401; 
}
.leftSide h1{
	width:100%;
	height: 34px;
	background: #ff4401;
	text-indent: 13px;
	line-height: 34px;
	font-size: 15px;
	font-weight: bold;
	color: #fff6f4;
}
.leftSide .ts1 ,.leftSide .ts2 ,.leftSide .ts3 ,.leftSide .ts4{
	width: 170px;
	height: 153px;
	border-bottom: 1px solid #e6e7eb;
	margin: 8px 9px 0px 9px;
/*	background: red;*/
}
.leftSide .ts3{
	height: 82px;
}
.leftSide .ts4{
	height: 56px; 
	border-bottom: none;
}
.leftSide .ztsc ,.leftSide .tsgw ,.leftSide .yhcx ,.leftSide .gj{
	width: 100%;
	height: 25px;
}
.leftSide .ztsc h2 ,.leftSide .tsgw h2 ,.leftSide .yhcx h2 ,.leftSide .gj h2{
	display: block;
	width: 92px;
	height: 25px;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	text-indent: 32px;
	color: #3c3c3c;
	float: left;
	background: url(../images/ztsc.png) no-repeat 0 0;
}
.leftSide .tsgw h2{
	background: red;
	background: url(../images/tsgw.png) no-repeat 0 2px;
}
.leftSide .yhcx h2{
	background: url(../images/yhcx.png) no-repeat 3px 2px;
}
.leftSide .gj h2{
	background: url(../images/gj.png) no-repeat 1px 1px;
}
.leftSide .ztsc .more{
	width: 42px;
	height: 18px;
	border: 1px solid #e8e8e8;
	float: right;
	color: #3c3c3c;
	line-height: 18px;
	text-align: center;
	margin-top: 2px;
}
.leftSide .ztsc .more:hover{
	color: #ffffff;
	background: #ff4400;
}
.ts1 ul ,.ts2 ul ,.ts3 ul ,.ts4 ul{
	height: 24px;
	float: left;
	margin-right: 11px;
}
.ts2 ul ,.ts3 ul ,.ts4 ul{
	margin-right:0px;
}
.te2 ul ,.ts3 ul ,.ts4 ul{
	float: none;
}
.ts1 ul li ,.ts2 ul li,.ts3 ul li ,.ts4 ul li{
	height: 24px;
	line-height: 24px;
	color: #3c3c3c;
	font-size: 12px;
	margin: 0 4px;
}
.ts2 ul li,.ts3 ul li ,.ts4 ul li{
	float: left;
	margin-right: 12px;
}
.ts2 .special li{
	margin-right: 8px;
}
.ts1 ul li:hover ,.ts2 ul li:hover ,.ts3 ul li:hover ,.ts4 ul li:hover{
	color: #ff4400;
}
.rtSide{
	width: 990px;
	height: 525px;
	float:right;
}
.rtSide .topNav{
	width: 100%;
	padding-top: 4px;
	height: 29px;
	border-bottom:2px solid #ff4400;
}
.rtSide .topNav .red,.rtSide .topNav .black{
	width: 222px;
	height: 34px;
	line-height: 28px;
	float: left;

}
.rtSide .topNav .red li ,.rtSide .topNav .black li{
	float: left;
	padding: 0 12px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 700;
	color: #ff4400;
}
.rtSide .topNav .red li:hover ,.rtSide .topNav .black li:hover{
	background: #f4f4f4;
	color: #ff4400;
}
.rtSide .topNav .black{
	width: 674px;
/*	background: red;*/
}
.rtSide .topNav .black li{
	padding: 0 6px;
	font-weight: 700;
	font-size: 14px;
	color:#3c3c3c;
	margin-left: 16px;
}
.rtSide .topNav .black .spe{
	color: #e9e9e9;
	font-weight: 600;
}
.rtSide .topNav .black .spe:hover{
	color: #e9e9e9;
	background: #ffffff;
}
.rtSide .topNav p{
	float: right;
	height: 26px;
	padding-top: 4px;
	line-height: 26px;
	color: #3c3c3c;
	font-size: 12px;
	font-weight: 700;
}
.rtSide .topNav p:hover{
	color: #ff4400;
}
.lbPic{
	width: 690px;
	height: 480px;
	float: left;
	background: green;
	margin-top: 10px;
}
.lbPic .left{
	width: 520px;
	height: 280px;
	float: left;
}
.lbPic .left #top{
	width: 100%;
	height: 280px;
}
.lbPic .left #bottom{
	width: 518px;
	height: 198px;
	border:1px solid #e8e8e8;
}
.lbPic .rightPic{
	width: 170px;
	height: 480px;
	float: right;
}
.lbPic .rightPic .pic1{
	width: 170px;
	height: 280px;
}
#topCon .rightSide{
	width: 290px;
	height: 478px;
	float: right;
	margin-top: 10px;
}
#topCon .rightSide .gongg{
	width: 288px;
	height: 98px;
	border:1px solid #e8e8e8;
}
#topCon .rightSide #ul1{
	width: 100%;
	height: 27px;
	background: #f7f7f7;
}
#topCon .rightSide #ul1 li{
    font-size: 12px;
    width: 56px;
    height: 26px;
    line-height: 26px;
    color:#3c3c3c;
    border:1px solid #f7f7f7;
    border-top: none;
    text-align: center;
    float: left;
}
#topCon .rightSide #ul1 li ul{
	width: 288px;
	height: 50px;
	padding: 11px 0;
	background: #ffffff;
}
#topCon .rightSide #ul1 li:hover{
    border-color: #e8e8e8;
    border-bottom: none;
    color: #ff4400;
    font-weight: 700;
    background: #ffffff;
}
#topCon .rightSide #ul1 .active{
	border-color: #e8e8e8;
	border-bottom: none;
	border-left: none;
	font-weight: 700;
	background: #ffffff;
}
#topCon .rightSide #ul1 .active p{
	width: 134px;
	height: 24px;
	line-height: 24px;
	text-indent: 10px;
	font-size: 12px;
	font-weight: normal;
	color: #3c3c3c;
	float: left;
}
#topCon .rightSide #ul1 .active p:hover{
	color:#ff4400;
}
#topCon .rightSide #ul1 .active .current{
	color: #ff4400;
}
#topCon .rightSide #ul1 .last{
	width: 55px;
	border-right: none;
}
#topCon .rightSide .log{
	width: 288px;
	height: 120px;
	border:1px solid #dddddd;
	border-top: none;
}
#topCon .rightSide .log .icon{
	width: 100%;
	height: 66px;
	background: url(../images/login_bg.png) no-repeat right;
}
#topCon .rightSide .log .toux{
	width: 80px;
	height: 66px;
	float: left;
	background: url(../images/toux_bg.png) no-repeat 10px 5px;
}
#topCon .rightSide .log .name{
	width: 208px;
	height: 66px;
	float: right;
}
#topCon .rightSide .log .name p{
	width: 100%;
	height: 26px;
	color: #565656;
	line-height: 26px;
	margin-top: 8px;
}
#topCon .rightSide .log .name p:hover{
	color: #ff4400;
}
#topCon .rightSide .log .name span{
	font-weight: bold;
}
#topCon .rightSide .log .name ul{
	width: 195px;
	height: 30px;
}
#topCon .rightSide .log .name a{
	width: 74px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border:1px solid #fdb08e;
	border-radius: 2px;
	color: #f55732;
	float: left;
	background-color: #fff0e8;
	margin-right: 5px;
}
#topCon .rightSide .log .name .jinbi{
	width: 107px;
	text-indent: 24px;
	background: url(../images/jinbi.png) no-repeat 4px 4px;
	background-color: #fff0e8;

}
#topCon .rightSide .login{
	width: 269px;
	height: 35px;
	padding: 9px 10px; 
}
#topCon .rightSide .login li{
	width: 75px;
	height: 35px;
	line-height: 35px;
	margin-right: 5px;
	text-align: center;
	float: left;
	color:#ffffff;
	background: #ff4400;
	border-bottom: 1px solid #e4e4e4;
	border-radius: 2px;
}
#topCon .rightSide .login .lg{
	width: 100px;
	text-indent: 24px;
	background: url(../images/lg_bg.png) no-repeat 26px 9px;
	background-color: #ff4400;
}
#topCon .rightSide .login li:hover{
	background-color: #f22d00;
}
#topCon .rightSide .bmfw{
	width: 288px;
	height: 259px;
	border:1px solid #e8e8e8;
	border-top: none;
	background-color:#f4f4f4;
}
#topCon .rightSide .bmfw h3{
	width: 288px;
	height: 26px;
	line-height: 26px;
	text-indent: 16px;
	padding-top: 5px;
	color: #2b2b2b;
	font-size: 14px;
	font-weight: bold;
}
#topCon .rightSide .bmfw ul{
	width: 272px;
	height: 75px;
	margin-left: 7px;
}
#topCon .rightSide .bmfw ul li{
	width: 56px;
	height: 63px;
	line-height: 90px;
	margin: 5px;
	color:#9c9c9c;
	text-align: center;
	border:1px solid #dddddd;
	border-radius: 2px;
	background-color: #ffffff;
	float: left;
}
#topCon .rightSide .bmfw ul li:hover{
	color:#ff4400;
}
#hotPoint{
    width: 1188px;
    height: 64px;
    border:1px solid #e8e8e8;
    margin: 0 auto 10px;
}
#middleCon {
	width: 1190px;
	margin: 0 auto;
	zoom:1;
}
#middleCon:after{
	content: "";
	display: block;
	clear: both;
}
#middleCon .leftModule{
   width: 880px;
   float: left;
   zoom:1;
}
#middleCon .leftModule:after{
	content: "";
	display: block;
	clear: both;
}
#middleCon .leftModule .cat{
	width: 880px;
/*	height: 1000px;
	background: blue;*/
/*	height: 270px;*/
	margin-bottom: 20px;
}
#middleCon .leftModule .cat:after{
	content: "";
	display: block;
	clear:both;
}
#middleCon .leftModule .lt ,#middleCon .leftModule .rt{
	width: 435px;
}
.leftModule .lt .dfl , .leftModule .rt .dfl{
 	width: 435px;
 	height: 24px;
 	background: #f5619c;
}
.dfl h2 a{
	float: left;
	height: 24px;
	line-height: 24px;
	font-weight: 700;
	font-size: 16px;
	color:#ffffff;
	text-indent: 14px;
}
.dfl h2 a:hover,.dfl p a:hover,.dfl h3:hover{
	text-decoration: underline;
}
.dfl p{
	width: 120px;
	height: 17px;
	margin: 3px 12px;
	background: url(../images/dfl_bg.png) 0 0;
	float: left;
}
.dfl p a{
	line-height: 19px;
	margin-left: 10px;
	color: #f5619c;
}
.dfl h3{
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	margin-right: 14px;
	float: right;
	color:#ffffff;
}
#middleCon .leftModule .lt{
	float: left;
	zoom:1;
}
#middleCon .leftModule .rt{
	float: right;
	zoom: 1;
}
#middleCon .leftModule .lt:after,#middleCon .leftModule .rt:after{
	content: "";
	display: block;
	clear: both;
}
#middleCon .leftModule .lt .cont,#middleCon .leftModule .rt .cont{
	width: 433px;
/*	height: 246px;*/
	border:1px solid #e8e8e8;
	border-top: none;
	zoom:1;
}
#middleCon .leftModule .lt .cont:after,#middleCon .leftModule .rt .cont:after{
	content: "";
	display: block;
	clear:both;
}
#middleCon .leftModule .lt .cont .pingp,#middleCon .leftModule .rt .cont .pingp{
	width: 234px;
	padding-top:10px;
	padding-bottom: 4px;
	float: left;
}
#middleCon .leftModule .lt .cont .food{
	width: 433px;
	height: 290px;
}
#middleCon .leftModule .lt .cont .food{
	width: 100%;
	height: 223px;
}
#middleCon .lt .pingp ul,#middleCon .rt .pingp ul,#middleCon .rt .baihuo ul{
	width: 320px;
	padding: 6px 0;
/*	height: 26px;*/
	border-bottom: 1px solid #f5f5f5;
}#middleCon .lt .foodList{
	width: 433px;
}
#middleCon .lt .food ul{
	width: 202px;
	height: 28px;
	padding-top: 6px;
	float: left;
}
#middleCon .rt .baihuo ul{
	padding-top: 14px;
  	width: 218px;
  	height: 202px;
  	float:left;
}
#middleCon .lt .food ul li{
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;
}
#middleCon .lt .pingp .noLine,#middleCon .rt .pingp .noLine{
	border-bottom: none;
}
#middleCon .pingp ul li,#middleCon .rt .baihuo ul li{
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;

}
#middleCon .rt .baihuo ul li{
	height: 28px;
	line-height: 28px;
}
#middleCon .pingp ul li a ,#middleCon .lt .food ul li a,#middleCon .rt .baihuo ul li a{
   height: 26px;
   line-height: 26px;
   color:#ffffff;
   font-size: 12px;
   float:left;
   margin-right: 10px;
   color:#3c3c3c;
}
#middleCon .pingp ul li a:hover,#middleCon .pingp ul li strong:hover,#middleCon .lt .food ul li a:hover,#middleCon .lt .food ul li strong:hover,#middleCon .rt .baihuo ul li a:hover,#middleCon .rt .baihuo ul li strong:hover{
	color: #ff4400;
}
#middleCon .pingp ul li strong,#middleCon .lt .food ul li strong,#middleCon .rt .baihuo ul li strong{
	display: block;
	width: 72px;
	font-size: 12px;
	font-weight: bold;
	color:#3a3a3a;
	text-indent: 16px;
	text-align: left;
}
#middleCon .pingp span ,#middleCon .lt .food span,#middleCon .rt .baihuo span{
	color:#ff4606;
}
#middleCon .pingp span:hover ,#middleCon .lt .food span:hover,#middleCon .rt .baihuo span:hover{
	text-decoration: underline;
}
#middleCon .leftModule .ad{
	width: 880px;
	height: 70px;
	margin-bottom: 24px;
}
#middleCon .leftModule .picture{
	width: 90px;
	margin-top:20px;
	margin-right: 10px;
	float: right;
}
#middleCon .leftModule .rt .baihuo .pictureSpe{
	padding-top: 10px;
	width: 213px;
	height: 200px;
	float: right;
}
#middleCon .leftModule .rt .pictureSpe img{
	margin: 10px -4px -2px 10px;
}
#middleCon .leftModule .rt .baihuo .botPic{
	width: 433px;
	height: 69px;
	float: left;
/*	border:1px solid #e8e8e8;*/
}
#middleCon .leftModule .picture img{
	margin-bottom:-3px;
}
#middleCon .leftModule .picture .img2{
	margin-top:5px; 
}
#middleCon .leftModule .picture p{
	width: 90px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	color: #3c3c3c;
	background: #f5f5f5;
}
#middleCon .leftModule .picture p:hover{
	color:#ff4400;
}
#middleCon .rightModule{
	width: 286px;
	background:#f5f5f5;
	border: 1px solid #e8e8e8;
	float: right;
}
.right-title1, .right-title2, .right-title3{
	width: 286px;
	height: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.fx, .my-foot, .fx-good-shop{
	width: 98px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #232323;
	line-height: 24px;
	text-indent: 24px;
	background: url(../images/fx.png) 0px 2px no-repeat;
	margin-left: 13px;
	float: left;
}
.my-foot{
	background: url(../images/my-foot_bg.png) 0 0 no-repeat;
}
.fx-good-shop{
	background: url(../images/fx-good-shop_bg.png) 0 0 no-repeat;
}
.dz{
	width: 80px;
	height: 18px;
	border: 1px solid #ff4300;
	background: #ffffff; 
	color: #ff4300;
	text-align: center;
	float: right;
	margin-right: 14px;
}
.dz:hover{
	background: #ff4300;
	color:#ffffff;
}
.tjsp{
	width: 256px;
	height: 134px;
	border: 1px solid #e8e8e8;
	border-bottom: none;
	margin-left: 14px;
	background: #ffffff;
	position: relative;
	z-index: 0;
	overflow: visible;
}
.spjj{
	width: 224px;
	height: 100px;
	padding: 17px 16px;
/*	background: red;*/
}
/*.hidden-bar{            //没有实现的一小部分
	width: 256px;
	height: 30px;
	background: #f5f5f5;
	position: relative;
	z-index: 5;
	top:100px;
	left: 0px;
}
.hidden-bar li{
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #5c5c5c;
	width: 85px;
	float: left;
}
.hidden-bar span{
	color: #ff4300;
}*/
.spjj img{
	float: left;
}
.text_jj{
	width: 110px;
	height: 100px;
	padding: 0 6px;
	float: right;
/*	background: green;*/
}
.mc{
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #444444;
	font-weight: 700;
}
.rx{
	height: 52px;
	line-height: 34px;
	font-size: 13px;
	color: #737373;
}
.xl{
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: 700;
	color: #444444;
}
.have-line{
	border-bottom: 1px solid #e8e8e8;
}
.pt1,.pt2{
	width: 256px;
	height: 278px;
	margin-left: 14px;
	border:1px solid #e8e8e8;
	background: #ffffff;
	margin-top: 10px;
	position: relative;
}
.pt2{
	height: 252px;
}
.nine-pics, .nine-bg, .six-bg, .six-pics{
	width: 216px;
	height: 216px;
	margin-top: 20px;
	margin-left: 21px;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 1;
	zoom:1;
}
.nine-bg{
	height: 200px;
}

/*.nine-pics:after{
	content: "";
	display: block;
	clear: both;
}*/
.nine-bg, .six-bg{
	z-index:0;
}
.little_pic1, .little_pic2{
	width: 70px;
	height: 70px;
	padding: 1px;
	float: left;
}
.little_pic2{
	float: none;
}
.box{
	float: left;
}
.days{
	width: 70px;
	height: 30px;
	line-height: 26px;
	color: #737373;
	text-align: center;
}
.little_pic1:hover, .little_pic2:hover{
	opacity: 0;
}
.little_pic2:hover .days{
	opacity: 1;
}
.dc-bg1, .dc-bg2{
	width: 70px;
	height: 62px;
	padding-top: 8px;
	background: #ff4300;
	border:1px solid #ffffff;
	float: left;
	display: block;
}
.dc-bg2{
	height: 54px;
	padding-top: 16px;
	margin-bottom: 30px;
}


.dc-bg1 li, .dc-bg2 li{
	width: 52px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-style: 12px;
	color: #ffffff;
	margin-left: 10px;
}
.change{
	width: 82px;
	height: 16px;
	line-height: 16px;
	text-indent: 22px;
	font-style: 14px;
	color: #737373;
	position: absolute;
	left:86px;
	bottom: 10px;
	background: url(../images/change.png) 0 0 no-repeat;
}
.change:hover{
	color: #ff4401;
	background: url(../images/change1.png) 0 0 no-repeat;
}
.nearlook{
	width: 80px;
	height: 20px;
	line-height: 26px;
	font-size: 13px;
	color: #9c9c9c;
	float: left;

}
.zuji{
	width: 100%;
	position: relative;
	height: 572px;
}
.good-shop{
	width: 228px;
	height: 120px;
	padding: 7px 14px;
	border:1px solid #e8e8e8;
	background: #ffffff;
	margin:0 auto;
	margin-bottom: -1px;
}
.good-shop:hover{
	border: 1px solid #ff4400;
}
.good-shop:hover #title{
	color: #ff4400;
}
.good-shop h2{
	width: 100%;
	height: 26px;
	line-height: 26px;
	font-style: 13px;
	font-weight: bold;
	color: #444444;
}
.biaoqian{
	width: 100%;
	height: 12px;
	padding: 2px 0px;
	margin-bottom: 4px;
}
.biaoqian li{
	height: 12px;
	line-height: 12px;
	color: #6c6c6c;
	font-size: 12px;
	float: left;
	padding:0 7px;
	border-left: 1px solid #eaeaea;
}
.no-leftBorder{
	border-left: none;
	padding-left: 0px;
}
.imgBox{
	width: 100%;
	height: 74px;
}
.imgBox li{
	float: left;
	border:2px solid #ffffff;
}
.alonePic{
	width: 286px;
	height: 210px;
	padding-top: 10px;
	float: right;
}

#middlePic{
	width: 1189px;
	margin: 0 auto;
	height: 1000px;
}
.moudle1{
	width: 100%;
	height: 360px;
	padding-bottom: 9px;

}
.moudle1 .item{
	width: 169px;
	height: 340px;
	border:1px solid #e8e8e8;
	position: relative;
	z-index: 0;
	margin-right: -1px;
	float: left;
	background: #ffffff;
	padding: 10px 14px;
}
.moudle1 .item:hover{
	border-color: #ff4400;
	z-index: 10;
}
.channel-header{
	width: 169px;
	height: 22px;
	display: block;
}
.channel-header:hover #bgd{
	background: url(../images/channel-header1.png) 0 4px no-repeat;
}
.channel-header span{
	height: 22px;
	font-size: 16px;
	font-weight: 700;
	color: #3c3c3c;
	line-height: 22px;
	float: left;
}
.channel-header i{
	width: 14px;
	height: 22px;
	margin-left: 6px;
	float: left;
	background: url(../images/channel-header.png) 0  4px no-repeat;
}
.channel-main1{
	width: 100%;
	height: 150px;
	padding: 9px 0;

}
.channel-main1:hover{
	opacity: 0.8;
}
.channel-main1:hover #main1-name{
	color: #ff4400;
}
.channel-main1 img{
	display: block;
	width: 100%;
	height: 100px;
}
.des{
	width: 100%;
	height: 40px;
	padding: 6px 0 4px 0;
	background: #f5f5f5;
}
.des span, .des em{
	display: block;
	width: 100%;
	font-size: 12px;
	font-weight: 700;
	height: 21px;
	line-height: 21px;
	text-align: center;
	color: #3c3c3c;
}
.des em{
	height: 19px;
	line-height: 19px;
	font-size: 12px;
	color: #9c9c9c;
	font-weight: normal;
	font-style: normal;
}
.channel-main2{
	width: 100%;
	height: 102px;
}
.channel-main2 .box1, .channel-main2 .box2{
	width: 80px;
	height: 102px;
}
.channel-main2 .box1:hover, .channel-main2 .box2:hover{
	opacity: 0.8;
}
.channel-main2 .box1:hover #main2-name, .channel-main2 .box2:hover #main2-name{
	color:#ff4400;
}
.channel-main2 .box1{
	float:left;
}
.channel-main2 .box2{
	float: right;
}
.channel-main2 img{
	width: 80px;
	height: 70px;
	display: block;
	padding: 4px 0;
}
.channel-main2 span{
	width: 100%;
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;
}
.channel-main3{
	width: 100%;
	height: 50px;
}
.channel-main3 ul{
	width: 100%;
	height: 12px;
	padding: 7px 0;
}
.channel-main3 ul li{
	height: 12px;
	line-height: 12px;
	color: #3c3c3c;
	font-size: 11px;
	margin-right: 10px;
	float: left;
}
.channel-main3 ul span{
	color: #ff4400;
}
.channel-main3 ul li:hover{
	color:#ff4400;
}
.channel-main3 .nomr{
	margin-right: 0;
}


/*moudle2*/
.moudle2{
	width: 100%;
	height: 222px;
	margin-bottom: 20px;
}
.moudle2 .header{
	width: 100%;
	height: 20px;
	padding: 11px 0;
	background: url(../images/moudle2/header_bg.png) 0 11px no-repeat;
}
.moudle2 .more{
	width: 38px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #eeeeee;
	color: #3c3c3c;
	text-align: center;
	float: right;
}
.moudle2 .more:hover{
	background: #ff4400;
	border-color:#ff4400;
	color: #ffffff;
}
.moudle2 .item{
	width: 148px;
	height: 180px;
	margin-right: 12px;
	float: left;
}
.moudle2 .item img{
	width: 100%;
	height: 155px;
	margin-bottom: -2px;
}
.moudle2 .item p{
	width: 100%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #e5d9d0;
}
.moudle2 .item:hover{
	opacity: 0.8;
}
.moudle2 .item:hover #pic-name{
	color: #ff4400;
}
.moudle2 .big-pic{
	width: 180px;
	margin-right: 30px;
	margin-left: 20px;
}
.moudle2 .last{
	width: 144px;
	height: 180px;
	float: right;
	margin-right: 6px;
}
.moudle2 .last div{
	width: 100%;
	height: 84px;
}
.moudle2 .last img{
	width: 70px;
	height: 70px;
}
.moudle2 .last .left{
	float: left;
}
.moudle2 .last .right{
	float: right;
}
.moudle2 .last ul{
	width: 100%;
	height: 10px;
	padding: 7px 0;
}
.moudle2 .last ul:hover{
	color: #ff4400;
}
.moudle2 .last ul li{
	font-size: 12px;
	float: left;
	margin-left:4px; 
}
.moudle2 .last ul strong{
	color:#e1e1e1;
}
.moudle2 .last ul span{
	color: #ff4400;
}

/*moudle3*/
.moudle3{
	width: 100%;
	height: 265px;
}
.moudle3 .m3-item{
	width: 169px;
	height: 242px;
	border:1px solid #e8e8e8;
	position: relative;
	z-index: 0;
	margin-right: -1px;
	float: left;
	background: #ffffff;
	padding: 10px 14px;
}
.moudle3 .m3-item:hover{
	border-color: #ff4400;
	z-index: 10;
}
.m3-channel-header{
	width: 169px;
	height: 22px;
}
.m3-channel-header:hover #bgd{
	background: url(../images/channel-header1.png) 0 4px no-repeat;
}
.m3-channel-header span{
	height: 22px;
	font-size: 16px;
	font-weight: 700;
	color: #3c3c3c;
	line-height: 22px;
	float: left;
}
.m3-channel-main1{
	width: 100%;
	height: 100px;
	padding: 9px 0;

}
/*.m3-channel-main1{
	text-align: center;
	background: #ffffff;
}*/
.m3-channel-main1:hover{
	opacity: 0.8;
}
.m3-channel-main1:hover #m3-main1-name{
	color: #ff4400;
}
.m3-channel-main1 img{
	display: block;
	width: 100%;
	height: 72px;
}
.m3-des{
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: center;
	padding: 6px 0;
	/*background: #ffffff;*/
}

.m3-channel-main2{
	width: 100%;
	height: 102px;
}
.m3-channel-main2 .m3-box1, .m3-channel-main2 .m3-box2{
	width: 80px;
	height: 108px;
}
.m3-channel-main2 .m3-box1:hover, .m3-channel-main2 .m3-box2:hover{
	opacity: 0.8;
}
.m3-channel-main2 .m3-box1:hover #m3-main2-name, .m3-channel-main2 .m3-box2:hover #m3-main2-name{
	color:#ff4400;
}
.m3-channel-main2 .m3-box1{
	float:left;
}
.m3-channel-main2 .m3-box2{
	float: right;
}
.m3-channel-main2 img{
	width: 80px;
	height: 70px;
	display: block;
}
.m3-channel-main2 span{
	width: 100%;
	display: block;
	height: 38px;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;
}

/*moudle*/
.moudle4{
	width: 100%;
	height: 616px;
}
.moudle4 header{
	width: 100%;
	height: 34px;
	padding-top: 28px;
}
.moudle4 .hot{
	width: 100px;
	height: 34px;
	line-height: 34px;
	font-size: 20px;
	font-weight: bold;
	float: left;
}
.moudle4 .nav{
	float: right;
}
.moudle4 .nav li{
	float: left;
	font-size: 12px;
	color: #6c6c6c;
	padding: 0 11px;
	margin-top: 11px;
	border-right: 1px solid #6c6c6c;
	border-color: #e8e8e8;

}
.moudle4 .nav .no-r{
	border-right: none;
}
.moudle4 .nav li:hover{
	color: #ff4400;
}

.moudle4 .con{
	width: 100%;
	height: 540px;
}
.moudle4 .item{
	width: 214px;
	height: 387px;
	border:1px solid #e8e8e8;
	position: relative;
	z-index: 0;
	padding:10px 10px 0 10px;
	margin-right: -1px;
	margin-bottom: -1px;
	float: left;
	background: #ffffff;
}
.moudle4 .item:hover{
	border-color: #ff4400;
	z-index: 10;
}
.moudle4 .item:hover .mark{
	display: block;
}
.moudle4 .tl{
	float: left;
	width: 160px;
	height: 387px;
}
.moudle4 .t-l{
	width: 140px;
	height: 188px;
/*	margin-bottom: -1px;*/
}
.moudle4 .bm{
	width: 374px;
	height: 130px;
	padding: 10px 10px 14px;
}
.moudle4 .bm-s{
	width: 375px;
}

.t-b .pic, .t-l .pic{
	width: 214px;
	height: 214px;
	position: absolute;
	top:10px;
	left: 10px;
	z-index: -1;
}
.t-l .pic{
	width: 139px;
	height: 139px;
}
.t-b .mark, .t-l .mark{
	width: 234px;
	height: 224px;
	left: 0px;
	top:0px;
	position: absolute;
	background: #ff4400;
	opacity: 0.8;
	z-index: 10;
	display: none;
}
.t-l .mark{
	width: 160px;
	height: 150px;
}
.t-b .mark p{
	width: 100%;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #ffffff;
	text-indent: 11px;
	margin: 144px 0 13px 0;
}
.t-l .mark p{
	width: 100%;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	color: #ffffff;
	text-indent: 11px;
	margin: 86px 0 8px 0;
}
.mark .look{
	width: 86px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	color: #ff4400;
	margin-left: 11px;
	border-radius: 5px;
	background: #ffffff;
}
.t-b .xiangq, .t-l .xiangq{
	width: 214px;
	height: 160px;
	position: absolute;
	left: 10px;
	top:226px;
	padding: 6px 0;
}
.t-l .xiangq{
	width: 139px;
	height: 40px;
	top:150px;
	padding: 4px 0;
}
.t-b .meony, .t-l .meony{
	width: 100%;
	height: 12px;
	padding: 9px 0;
	font-size: 12px;
	font-weight: bold;
	color: #ff4400;
}
.t-l .meony{
	height: 10px;
	font-size: 10px;
	padding: 5px 0;
}
.by{
	width: 100%;
	height: 14px;
	font-size: 12px;
	color: #9c9c9c;
}
.by span{
	display: inline-block;
	width: 26px;
	height: 14px;
	line-height: 14px;
	color: #ffffff;
	background: #8cbf4c;
	margin-right: 6px;
}

.xiangq .shuom{
	width: 100%;
	padding: 11px 0;
}
.shuom p{
	width: 100%;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #6c6c6c;
}
.xiangq .pinlun{
	width: 100%;
	height: 12px;
	line-height: 12px;
	color: #9c9c9c;
	margin-top: 50px;
}


/*底部帮助链接*/
.helper {
	width: 100%;
	height: 94px;
	padding: 46px 0;
	border-bottom: 2px solid #ff5400;
}
.mod {
	float:left;
	width: 246px;
	height: 94px;
	padding: 0 25px;
	border-right: 1px solid #eee;
}
.no-mr {border-right: none};
.mod h4 {
	display: block;
	width: 246px;
	height: 47px;
	padding-top: 7px;
}
.mod h4 i {
	float: left;
	width: 34px;
	height: 33px;
}
.mod h4 p{
	display: block;
	float: left;
	width: 212px;
	height: 34px;
	line-height: 34px;
	text-indent: 12px;
	font-size: 16px;
	color: #3c3c3c;
}
.mod h4 p:after {
	content: "";
	display: block;
	zoom:1;
}
.mod ul{
	clear: both;
	display: block;
	width: 100%;
	height: 40px;	
	padding: 15px 0;
}
.mod ul li {
	float: left;
	height: 20px;
	margin-right: 13px;
	line-height: 20px;
	font-size: 12px;
	color: #9c9c9c;
}
.mod ul li:hover {color: #ff4400;}
.footer-hd {
	width: 100%;
	height: 53px;
	padding: 8px 0;
	border-top: 1px solid #ddd;
}
.footer-hd li {
	float: left;
	height: 12px;
	margin: 7px 0;
	padding: 0 10px;
	border-right: 1px solid #e3dde3;
	line-height: 12px;
	font-size: 12px;
	color: #6c6c6c;
}
.footer-hd li:hover {
	color: #ff4400;
}
.footer-bd {
	width: 100%;
	height: 70px;
	border-top: 1px solid #ddd;
}
.footer-hd .no-mr {
	margin-right: 10px;
	border-right: none;
}
.link {
	width: 100%;
	height: 12px;
	padding: 11px 0; 
}
.link li {
	float: left;
	height: 12px;
	line-height: 12px;
	margin: 0 4px;
	color: #6c6c6c;
}
.link li:hover {color: #ff4400;}
.link span {
	margin-left: 32px;
	color: #a89cb4;
}
.footer-hd .first-li,
.link .first-li,
.allow .first-li,
.report .first-li,
.link-pic .first-li {
	margin-left: 3px;
	padding-left: 0px;
}
.allow,
.report {
	width: 100%;
	height: 12px;
	padding: 3px 0;
}
.allow li,
.report li {
	float: left;
	height: 12px;
	padding: 0 10px;
	font-size: 12px;
	line-height: 12px;
	color: #9c9c9c;
	border-right: 1px solid #e3dde3;
}
.allow span {color: #6c6c6c;}
.allow span:hover {color: #f40;}








