div.box{
    width:1200px;
    height:657px;
    margin:15px auto;
    border:1px solid #e2e2e2;
}
div.box h3{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    text-align: right;
    padding: 0 12px;
    font-weight: 100;
    float:left;
}
div.box h3 span{
    float: left;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #373737;
    padding-left: 5px;
    font-family: "微软雅黑";
}
div.box1 form{
    float:right;
    padding-right:15px;
    padding-top:10px;
}
div.product_list{
    width:1200px;
    /* text-align:left; */
    margin-top:50px;
}
div.product_list ul li:nth-child(5n+1){
    margin-left:-35px;
}
div#page{
    height: 20px;
    width:360px;
    float: right;
    margin-bottom:35px;
    color: #666;
}
div#page span:nth-child(1){
    float:left;
    margin-right:15px;
}
div#page span:nth-child(2){
    display: block;
    float: left;
    margin-right:6px;
    color: #ff6f3d;
    font-weight: bold;
    background: #fff;
}
div#page a{
    text-decoration:none;
    color: #666;
}
div#page a.next{
    margin-right:80px;
}
div#page span.page_yingpan{
    float:right;
    margin-right:80px;
    background: #fff;
}
