*{
    margin:0;
    padding:0;
}
body{
	width:100%;
}
img{
	border:none;
}
div#top{
    width:100%;
    height:36px;
    background-image:url(../images/03.jpg);
}
div#top ul li{
    display:inline;
    width:76px;
    height:36px;
    line-height:36px;
    color: #616161;
    font-size:15px;
}
div#top ul li a{
    text-decoration:none;
    color: #616161;
}
div#top ul li:nth-child(3),div#top ul li:nth-child(4){
    border-right:2px solid #979797;
    padding-right:8px;
}
div#top ul li:first-child{
    margin-left:80px;
    margin-right:10px;
}
div#top ul li:last-child{
    border-left:2px solid #979797;
    padding-left:8px;
}
div#top ul li img:first-child{
    margin-right:10px;
}
div#top ul li img:last-child{
    margin-right:700px;
}
.header{
    height:92px;
    margin: 0 auto;
    position:relative;
    text-align:left;
    width:1200px;
    z-index:100;
}
.header .logo{
    width:89px;
    height:50px;
    position:absolute;
    top:20px;
}
div.search{
    position:absolute;
    right:286px;
    top:25px;

}
input[type="text"]{
    border: 1px solid black;
    color: #333;
    height: 30px;
    line-height: 21px;
    margin-top: 3px;
    padding: 1px 4px 1px 30px;
    width: 244px;
}
input[type="submit"]{
    background-color: #191919;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    height: 34px;
    line-height: 15px;
    width: 53px;
}
div.keywords{
    color: #666;
    position:absolute;
    top: 63px;
    right:428px;
    font-size:16px;
}
div.keywords a{
    text-decoration:none;
    color:#ed1c24;
}
div.keywords a:hover{
    text-decoration:underline;
}
div.img{
    width:240px;
    height:45px;
    position:absolute;
    top:30px;
    right:25px;
}
div.nav{
    width:100%;
    height:35px;
    background:#d41c4f;
    margin-top:-2px;
}
div.nav a{
    color:white;
    font-family: 宋体;
    font-size: 14px;
    font-weight: 700;
    text-decoration:none;
    height:35px;
    line-height:35px;
}
div.nav a.nav_1{
    margin-left:65px;
    display:inline-block;
    width:240px;
    text-align:center;
    background:rgb(172, 20, 63);
}
div.nav a.nav_1:hover{
    background-color:#970a32;
    text-decoration:none;
}
div.nav a:nth-child(2){
    margin-left:none;
}
div.nav a{
    margin-left:17px;
    margin-right:52px;
}
img.kefu{
     position:fixed;
      right:3px;  
      top:125px;  
 } 
 a.backTop img{
	 position:fixed;
	 right:3px;
	 top:330px
 }
div.title{
    width:1200px;
    margin-left:63px;
    margin-top:25px;
}
div.title div{
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: normal;
    color: #666;
    text-align: right;
    background: #f1f1f1;
    border-top: 3px solid #fff;
}
div.title div ul li{
    display:inline-block;
}
div.title div ul li a{
    text-decoration:none;
    color:#000000;
}
div.title div ul li:first-child{
    float:left;
    color:#970a32;
    font-weight:bold;
}
div.product{
    width:1200px;
    text-align:left;
    margin-left:63px; 
}
div.product ul li:nth-child(5n+1){
    margin-left:30px;
 }
div.product ul li{
    width:202px;
    height:270px;
    display:inline-block;
    vertical-align:top;
    margin:20px 20px 10px 5px;

}
div.product ul li a{
    color: #797979;
    text-decoration: none;
}
div.product ul li a:hover{
    text-decoration:underline;
}
div.product ul li img{
    width:202px;
    height:202px;
    border: 1px solid #e2e2e2;
}
div.product span.price{
    text-decoration:line-through;
    color: #9b9b9b;
}
div.product span:last-child{
    color: #ff3333;
    font-weight: bold;
}
div.footer{
    clear:both;
    width:100%;
    margin-top:40px;
}
div.footer hr:first-child{
    margin-bottom:61px;
}
div.footer1 ul{
    width:1018px;
    margin-left:250px;
}
div.footer1 ul li{
    margin-top:30px;
    display:inline-block;
    border-right:2px solid #979797;
    padding-right:5px;
}
div.footer1 ul li:first-child{
    padding-left:125px;
}
div.footer1 ul li:last-child{
    border-right:none;
}
div.footer1 ul a{
    text-decoration: none;
    color: #666;
}
div.footer2{
    width:1018px;
    text-align:center;
}
div.footer2 ul{
    list-style:none;
    margin-left:386px;
    margin-top:30px;
    padding-bottom:10px;
}
div.footer2 ul li:not(a){
    color:#999;
}
div.footer2 ul li a{
    color:#666;
    text-decoration:none;
}