@charset "utf-8";
body,div,ul{
    margin:0;
    padding:0;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
div.container{
    width:1182px;
    margin:0 auto;
}
div.nav .top{
    width:1182px;
    height:70px;
    background-color: #2A5081;
    color: #fff;
}
div.nav .top ul.u1{
    padding-left:40px;
    width:220px;
    float:left;
}
div.top ul{
    height:70px;
    line-height:70px;
}
div.nav .top ul li{
    display:inline-block;
    padding-left:20px;
}
div.top a{
    font-size:15px;
    color: #fff;
}
.top a:hover,.bottom a:hover,.footer a:hover{
    color:red;
    text-decoration:underline;
}
div.nav .top ul.u2{
    padding-left:40px;
    width:420px;
    float:left;
}
div.nav .top ul.u3{
    float:right;
    padding-right:40px;
}
div.nav .top2{
    width:1182px;
    background:white;
    margin:10px 0;
    color: #102c63;
}
div.nav .top2 .logo{
    width:267px;
    float:left;
}
div.nav .top2 .menu{
    float:right;
    margin:0 auto;
    padding: 25px 0 0 45px;
    width: 870px;
}
div.nav .top2 .menu li{
    float: left;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    width:96px;
}
div.nav .top2 .menu a{
    color:#122e67;
}
.menu ul.list{
    position:absolute;
    width:96px;
    z-index:999999;
}
.menu ul.list li{
    background:#eee;
}
.menu ul.list li a{
    font-size:14px
}
div.news .top a:hover{
    text-decoration:underline;
    color:#ababab;
}
div.news1,div.news2{
    width:1182px;
    margin:30px 0;
}
.news-left{
    float:left;
    margin-right: 11px;
    width: 345px;
}
.news-left .top{
    border-bottom:2px solid #5292de;
    color: #4a65ce;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
}
.news-left .top .span1{
    color: #4a65ce;
}
.span2{
    color: #bdbabd;
}
.span3{
    color: #ababab;
    float: right;
    margin-right: 5px;
    margin-top: 0;
}
div.bottom{
    color: #102c63;
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}
div.bottom li{
    display: block;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    list-style: outside none none;
    overflow: hidden;
    padding-left: 3px;
    width: 100%;
}
div.bottom li a{
    color:#102c63;
}
div.bottom li span{
    display:inline-block;
    float:right;
    color:#aaa;
}
.div-list .li1{
    height: 23px;
    line-height: 30px;
    list-style: outside none none;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 340px;
}
.div-list .li1 a{
    color: #102c63;
}
.div-list .li1 a:hover{
    color:red;
}
.div-list .li2{
    color: #949294;
    height: 37px;
    line-height: 20px;
    list-style: outside none none;
    overflow: hidden;
    text-align: left;
    text-indent: 2em;
    width: 335px;
}
.news-center{
    margin-right: 11px;
    width: 470px;
    float:left;
}
.top{
    border-bottom: 2px solid #5292de;
    color: #4a65ce;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
}
.top .div1{
    float:left;
}
.top .div2{
    float:right;
}
.news-right{
    float:left;
    width:345px;
}
.news3 .buttom{
    clear:both;
}
.news3 .buttom li h4{
    font-size: 14px;
    font-weight:normal;
    text-align:center;
    margin-top:5px;
}
.news3 .buttom h4 a{
    color: #102c63;
}
div.footer{
    clear:both;
}
div.footer1{
    width:1182px;
    height:153px;
    background:#f7f7f7;
}
.bottom_logo img{
    float:left;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 30px;
}
div.footer1 ul{
    float:left;
    width:440px;
    height:128px;
    margin-top:32px;
    position:relative;
    margin-left:173px;
    text-align:center;
}
div.footer1 ul li{
    float: left;
    height: 36px;
    line-height: 36px;
    list-style: outside none none;
    width: 23%;
}
div.footer1 ul li a{
    color:#102c63;
}
div.connect{ 
    width:360px;
    float:right;
}
div.connect .connect-pic{
    float:left;
    margin:43px 27px;
    text-align:center;
}
div.connect .connect-pic h5{
    font-weight:normal;
}
div.connect .connect-pic a{
    color:#102c63;
}
ul.connect2{
    width:1182px;
    height:50px;
    line-height:35px;
    background:#d6e3f7;
}
ul.connect2 li{
    float:left;
    margin:0 4px;
}
ul.connect2 li a{
    color:#102c63;
}
ul.connect2 li a:hover{
    text-decoration:underline;
}
div.footer2{
    width:1182px;
    background:#426184;
    float:left;
}
div.footer2 p{
    text-align:center;
    font-size:14px;
    color:#fff;
}
div.footer2 p a{
    color:#fff;
}