@-webkit-keyframes cir1 {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg) rotateZ(10deg);
  }
}
@-moz-keyframes cir1 {
  0% {
    -moz-transform: rotateY(0deg) rotateZ(10deg);
  }
  100% {
    -moz-transform: rotateY(-360deg) rotateZ(10deg);
  }
}
@-o-keyframes cir1 {
  0% {
    -o-transform: rotateY(0deg) rotateZ(10deg);
  }
  100% {
    -o-transform: rotateY(-360deg) rotateZ(10deg);
  }
}
@keyframes cir1 {
  0% {
    transform: rotateY(0deg) rotateZ(10deg);
  }
  100% {
    transform: rotateY(-360deg) rotateZ(10deg);
  }
}
@-webkit-keyframes cir2 {
  0% {
    -webkit-transform: rotateY(-90deg) rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateY(-450deg) rotateZ(10deg);
  }
}
@-moz-keyframes cir2 {
  0% {
    -moz-transform: rotateY(-90deg) rotateZ(10deg);
  }
  100% {
    -moz-transform: rotateY(-450deg) rotateZ(10deg);
  }
}
@-o-keyframes cir2 {
  0% {
    -o-transform: rotateY(-90deg) rotateZ(10deg);
  }
  100% {
    -o-transform: rotateY(-450deg) rotateZ(10deg);
  }
}
@keyframes cir2 {
  0% {
    transform: rotateY(-90deg) rotateZ(10deg);
  }
  100% {
    transform: rotateY(-450deg) rotateZ(10deg);
  }
}
@-webkit-keyframes cir3 {
  0% {
    -webkit-transform: rotateY(-180deg) rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateY(-540deg) rotateZ(10deg);
  }
}
@-moz-keyframes cir3 {
  0% {
    -moz-transform: rotateY(-180deg) rotateZ(10deg);
  }
  100% {
    -moz-transform: rotateY(-540deg) rotateZ(10deg);
  }
}
@-o-keyframes cir3 {
  0% {
    -o-transform: rotateY(-180deg) rotateZ(10deg);
  }
  100% {
    -o-transform: rotateY(-540deg) rotateZ(10deg);
  }
}
@keyframes cir3 {
  0% {
    transform: rotateY(-180deg) rotateZ(10deg);
  }
  100% {
    transform: rotateY(-540deg) rotateZ(10deg);
  }
}
@-webkit-keyframes cir4 {
  0% {
    -webkit-transform: rotateY(-270deg) rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateY(-630deg) rotateZ(10deg);
  }
}
@-moz-keyframes cir4 {
  0% {
    -moz-transform: rotateY(-270deg) rotateZ(10deg);
  }
  100% {
    -moz-transform: rotateY(-630deg) rotateZ(10deg);
  }
}
@-o-keyframes cir4 {
  0% {
    -o-transform: rotateY(-270deg) rotateZ(10deg);
  }
  100% {
    -o-transform: rotateY(-630deg) rotateZ(10deg);
  }
}
@keyframes cir4 {
  0% {
    transform: rotateY(-270deg) rotateZ(10deg);
  }
  100% {
    transform: rotateY(-630deg) rotateZ(10deg);
  }
}
@-webkit-keyframes cir {
  0% {
    -webkit-transform: rotateX(80deg) rotateY(-10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-360deg);
  }
}
@-moz-keyframes cir {
  0% {
    -moz-transform: rotateX(80deg) rotateY(-10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-360deg);
  }
}
@-o-keyframes cir {
  0% {
    -o-transform: rotateX(80deg) rotateY(-10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(80deg) rotateY(-10deg) rotateZ(-360deg);
  }
}
@keyframes cir {
  0% {
    transform: rotateX(80deg) rotateY(-10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(80deg) rotateY(-10deg) rotateZ(-360deg);
  }
}
@-webkit-keyframes cir_p {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}
@-moz-keyframes cir_p {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
  }
}
@-o-keyframes cir_p {
  0% {
    -o-transform: rotateZ(0deg);
  }
  100% {
    -o-transform: rotateZ(-360deg);
  }
}
@keyframes cir_p {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
.u_p3d{
    -webkit-transform-style: preserve-3d !important;
    -moz-transform-style: preserve-3d !important;
    transform-style: preserve-3d !important;
}
.ui_base {
    position: relative;
    z-index: 888;
    width: 400px;
    height: 0px;
    margin:-120px 190px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
   /* -webkit-perspective-origin: 50% 50%;*/
    perspective: 1000px;
    /*perspective-origin: 50% 50%;*/
}
.ball_base a{
  display: block;
  width:290px;
  height:210px;
} 
.ball_c .p_trade{
    position: absolute;
    z-index:1000;
    font-size: 20px;
    color: #fff;
} 
.ball{
    -webkit-transition:all 2s ease-out 0ms;
    -moz-transition:all 2s ease-out 0ms;
    transition:all 2s ease-out 0ms;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    z-index:99999;
    text-align: center;
    left: 0px;
    top: 0px;
    color: #fff;
    font-size: 16px;
    opacity: 1;
    overflow: hidden;
}

@-webkit-keyframes rotate{
  0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);}
}
@-moz-keyframes rotate{
  0%{-moz-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-moz-transform:rotate(-360deg);transform:rotate(-360deg);}
}
@-o-keyframes rotate{
  0%{-o-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-o-transform:rotate(-360deg);transform:rotate(-360deg);}
}
@keyframes rotate{
  0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
  100%{-webkit-transform:rotate(-360deg);-moz-transform:rotate(-360deg);-o-transform:rotate(-360deg);transform:rotate(-360deg);}
}
.ball_c {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
     -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
         transform-origin: 50% 50%;
    position: absolute;   
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.base{
	position: relative;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation: cir 30s linear 0s infinite;
}
.rotate_circle:hover{
  -webkit-animation:ball_c 5s linear 0s infinite;
  -moz-animation:ball_c 5s linear 0s infinite;
  animation:ball_c 5s linear 0s infinite;
  -moz-animation:rotate 4s linear 0s infinite; 
  -webkit-animation:rotate 4s linear 0s infinite; 
  -o-animation:rotate 4s linear 0s infinite; 
  animation:rotate 4s linear 0s infinite;
}
.ball_1 .ball {
    transform: rotateY(10deg) rotateZ(10deg);
    -webkit-animation: cir1 30s linear 0s infinite;
    -moz-animation: cir1 30s linear 0s infinite;
      animation: cir1 30s linear 0s infinite;
    -webkit-transition-delay: 1100ms !important;
    -moz-transition-delay: 1100ms !important;
      transition-delay: 1100ms !important;
}
.ball_2 .ball {
    -webkit-animation: cir2 30s linear 0s infinite;
    -moz-animation: cir2 30s linear 0s infinite;
        animation: cir2 30s linear 0s infinite;
    -webkit-transition-delay: 900ms !important;
    -moz-transition-delay: 900ms !important;
        transition-delay: 900ms !important;
}
.ball_3 .ball {
    -webkit-animation: cir3 30s linear 0s infinite;
    -moz-animation: cir3 30s linear 0s infinite;
      animation: cir3 30s linear 0s infinite;
    -webkit-transition-delay: 700ms !important;
    -moz-transition-delay: 700ms !important;
      transition-delay: 700ms !important;
}
.ball_4 .ball {
    -webkit-animation: cir4 30s linear 0s infinite;
    -moz-animation: cir4 30s linear 0s infinite;
      animation: cir4 30s linear 0s infinite;
    -webkit-transition-delay: 500ms !important;
    -moz-transition-delay: 500ms !important;
      transition-delay: 500ms !important;
}

.ball_1 {
    -webkit-transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
    -moz-transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
    transform: rotateX(-90deg) rotateY(0deg) translateY(-70px);
}
.ball_2 {
    -webkit-transform: rotateX(-90deg) rotateY(90deg) translateY(-70px);
    -moz-transform: rotateX(-90deg) rotateY(90deg) translateY(-70px);
    transform: rotateX(-90deg) rotateY(90deg) translateY(-70px);
}
.ball_3 {
    -webkit-transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
    -moz-transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
    transform: rotateX(-90deg) rotateY(180deg) translateY(-70px);
}
.ball_4 {
    -webkit-transform: rotateX(-90deg) rotateY(270deg) translateY(-70px);
    -moz-transform: rotateX(-90deg) rotateY(270deg) translateY(-70px);
    transform: rotateX(-90deg) rotateY(270deg) translateY(-70px);
}
.pauseWalk {  
   -webkit-animation-play-state: paused !important;
   animation-play-state: paused;
}
.ball_c div{
	position:absolute;
	top: 0px;
    left: 100px;
  	margin-left:-100px;
}
.ball_c .rotate_circle{
	z-index:10006;

}
/*非IE媒体查询来判断该加载的样式*/
@media screen and (min-width:1620px){
	.base{
	    /*-webkit-transform: rotateX(80deg) rotateY(-10deg);
	    transform: rotateX(80deg) rotateY(-10deg);*/
	    width: 840px;
	    height: 840px;
	}
	.pan{
	    position: absolute;
	    z-index:-9999;
	    width: 1144px;
	    height: 679px;
	    margin-top: 240px;
	    margin-left:115px;
	    background-image: url(../img/1920/bg_track.png);
	    background-size: 100% 100%;
	}
	.ball_c .rotate_circle{
		width:232px;
		height:232px;
		background-image: url("../img/1920/rotate_circle.png")
	}
	.ball_c .trade_bottom2{
		width:232px;
		height:232px;
		background-image:url("../img/1920/trade_bottom2.png");
	}
	.ball_c .trade_circle{
		width:322px;
		height:206px;
		left: 41px;
    	top: -37px;
		background-image:url("../img/1920/trade_circle.png");
	}
	.ball_base{
	    -webkit-transform-origin: 475px 0px;
	    transform-origin: 475px 0px;
	    position: absolute;
	    top: 420px;
	    left: -50px;
	    width: 475px;
	    height: 180px;
	} 
	.ball_c .p_trade{
	    left: 83px;
    	top: -8px;
	}  
	.ball{
		width: 290px;
	    height: 210px;
	    line-height: 210px;
	}
	.ball .p1{
	    margin-left: 23px;
	    margin-top: 0px;
	}
	.ball .p2{
	    margin-top: 2px;
	    margin-left: 52px;
	}
	.ball .p3{
	    margin-top: 13px;
	    margin-left: 28px;
	}
	.ball .p4{
	    margin-top: 2px;
	    margin-left: 39px;
	}
	.ball_c{
		width: 232px;
	    height: 232px;
	    line-height:232px;
	    top: 387px;
    	left: 513px;	
    	background-image:url("../img/1920/2.png");
	}
	.ball_1 .ball{
		background: url("../img/1920/demandCenter.png")
	}
	.ball_2 .ball{
		background: url("../img/1920/worldService.png")
	}
	.ball_3 .ball{
		background: url("../img/1920/integratedWorld.png")
	}
	.ball_4 .ball{
		background: url("../img/1920/developWorld.png")
	}
	.icon_trade{
		top: 61px;
    	left: 95px;
	}
	.icon1{
		top: 45px;
    	left: 131px;
	}
	.icon2{
		top: 43px;
    	left: 146px;
	}
	.icon3{
		top: 53px;
    	left: 134px;
	}
	.icon4{
		top: 47px;
    	left: 140px;
	}
}
@media screen and (max-width: 1619px){
	.base{
	    /*-webkit-transform: rotateX(80deg) rotateY(-10deg);
	    transform: rotateX(80deg) rotateY(-10deg);*/
	    width: 700px;
	    height: 700px;
	}
	.pan{
	    position: absolute;
	    z-index:-9999;
	    width: 862px;
	    height: 462px;
	    margin-top:203px;
	    margin-left:115px;
	    background-image: url(../img/small/bg_track.png);
	    background-size: 100% 100%;
	}
	.ball_c .rotate_circle{
		width:192px;
		height:192px;
		background-image:url("../img/small/rotate_circle.png");
	}
	.ball_c .trade_bottom2{
		width:192px;
		height:192px;
		background-image:url("../img/small/trade_bottom2.png");
	}
	.ball_c .trade_circle{
		width:300px;
		height:230px;
		left: 41px;
    	top: -37px;
		background-image:url("../img/small/trade_circle.png");
	}
	.ball_base{
	    -webkit-transform-origin: 450px 0px;
	    -moz-transform-origin: 450px 0px;
	    transform-origin: 400px 0px;
	    position: absolute;
	    top: 350px;
	    left: -50px;
	    width: 400px;
	    height: 180px;
	}
	.ball_c .p_trade{
	    left: 58px;
    	top: -10px;
	} 
	.ball{
		width: 210px;
	    height: 170px;
	    line-height: 172px;
	}  
	.ball .p1{
	    margin-left: -27px;
	    margin-top: 1px;
	}
	.ball .p2{
	    margin-top: -5px;
	    margin-left: -13px;
	}
	.ball .p3{
	    margin-top: 17px;
	    margin-left: -20px;
	}
	.ball .p4{
	    margin-top: 25px;
	    margin-left: -18px;
	}
	.ball_c{
		width: 192px;
	    height: 192px;
	    line-height:192px;
	    top: 305px;
    	left: 439px;
    	background-image: url("../img/small/2.png")	
	}
	.ball_1 .ball{
		background: url("../img/small/demandCenter.png")
	}
	.ball_2 .ball{
		background: url("../img/small/worldService.png")
	}
	.ball_3 .ball{
		background: url("../img/small/integratedWorld.png")
	}
	.ball_4 .ball{
		background: url("../img/small/developWorld.png")
	}
	.icon_trade{
		top: 48px;
    	left: 71px;
	}
	.icon1{
		top: 32px;
    	left: 66px;
	}
	.icon2{
		top: 26px;
    	left: 74px;
	}
	.icon3{
		top: 47px;
    	left: 70px;
	}
	.icon4{
		top: 55px;
    	left: 71px;
	}
}
@media screen and (max-height: 600px){
	.pan{
		position: absolute;
	    z-index: -9999;
	    width: 858px;
	    height: 496px;
	    margin-top: 190px;
	    margin-left: 115px;
	    background-image: url(../img/600/bg_track.png);
	    background-size: 96% 100%;
	}
	.ball_c{
		width: 192px;
	    height: 192px;
	    line-height: 192px;
	    text-align: center;
	    top: 280px;
	    left: 410px;
	    background-image: url("../img/small/2.png")
	}
	.base{
		width: 670px;
    	height: 670px;
	}
	.ball_base{
	    -webkit-transform-origin: 385px 0px;
	    -moz-transform-origin: 385px 0px;
	    transform-origin: 385px 0px;
	    position: absolute;
	    top: 335px;
	    left: -50px;
	    width: 385px;
	    height: 180px;
  	} 
  	.ball_c .p_trade{
  		left: 58px;
    	top: 17px;
  	} 
}